@page
@model qs_csharp.Pages.EmbeddedSigning
@{
    ViewData["Title"] = "Embedded Signing Ceremony";
}

<form method="post">
    <input type="submit" value="Sign the document!"
           style="width:13em;height:2em;background:#1f32bb;color:white;font:bold 1.5em arial;margin: 3em;" />
</form>

