@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>C# Quick Start Examples</h2>

<h4><a href="SendEnvelope">Send an envelope.</a> The signer will receive an email with the signing request.</h4>
<h4><a href="EmbeddedSigning">Embedded Signing Ceremony.</a> Add a signing page to your web app.</h4>
<h4><a href="ListEnvelopes">List envelopes.</a> Lists the user's envelopes and their status.</h4>

<p style="margin-top:2em;">For more information, see the <a href="https://developers.docusign.com/esign-rest-api/code-examples">DocuSign Developer Center Code Examples section</a>.</p>