@page
@model qs_csharp.Pages.ListEnvelopesModel
@{
    ViewData["Title"] = "ListEnvelopes";
}

<h4 style="margin-top:3em;">List Envelopes Results</h4>

<p><code><pre>@ViewData["results"]</pre></code></p>

<p><a href="/">Continue</a></p>
